<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ContentManagerEntities" connectionString="metadata=res://*/ContentManagerDatabase.csdl|res://*/ContentManagerDatabase.ssdl|res://*/ContentManagerDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ContentManager;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>