USE [master]
GO
/****** Object:  Database [Revolution]    Script Date: 02/22/2012 23:26:42 ******/
CREATE DATABASE [Revolution] ON  PRIMARY 
( NAME = N'Revolution', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\Revolution.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Revolution_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\Revolution_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Revolution].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Revolution]
GO
/****** Object:  Table [dbo].[Character]    Script Date: 02/22/2012 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Character](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[First Name] [nvarchar](100) NOT NULL,
	[Last Name] [nvarchar](100) NOT NULL,
	[Gender] [bit] NOT NULL,
 CONSTRAINT [PK_Character] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Character] ON
INSERT [dbo].[Character] ([ID], [First Name], [Last Name], [Gender]) VALUES (1, N'Rhodan', N'Dhall', 1)
INSERT [dbo].[Character] ([ID], [First Name], [Last Name], [Gender]) VALUES (2, N'Daina', N'Cross', 0)
SET IDENTITY_INSERT [dbo].[Character] OFF
/****** Object:  Table [dbo].[PersonalityTypeType]    Script Date: 02/22/2012 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalityTypeType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [text] NOT NULL,
 CONSTRAINT [PK_PersonalityTypeType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PersonalityTypeType] ON
INSERT [dbo].[PersonalityTypeType] ([ID], [Name], [Description]) VALUES (1, N'Static', N'This is a permanant feature of this character.  It does not change over time.')
INSERT [dbo].[PersonalityTypeType] ([ID], [Name], [Description]) VALUES (2, N'Volatile', N'This is a highly variable part of a personality.  It is highly subject to the environment.')
INSERT [dbo].[PersonalityTypeType] ([ID], [Name], [Description]) VALUES (3, N'Sticky', N'This is a personality trait that is hard to change, but when it does, it changes significatly.')
SET IDENTITY_INSERT [dbo].[PersonalityTypeType] OFF
/****** Object:  Table [dbo].[Topic]    Script Date: 02/22/2012 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [text] NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Topic] ON
INSERT [dbo].[Topic] ([ID], [Name], [Description]) VALUES (1, N'Idle Chat', N'No conversation started.')
INSERT [dbo].[Topic] ([ID], [Name], [Description]) VALUES (2, N'Threat', N'A threat in the environment.')
INSERT [dbo].[Topic] ([ID], [Name], [Description]) VALUES (5, N'Occupation', N'Conversations about one of the character''s occupation.')
SET IDENTITY_INSERT [dbo].[Topic] OFF
/****** Object:  Table [dbo].[Phrase]    Script Date: 02/22/2012 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phrase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Immediacy] [int] NOT NULL,
	[Text] [ntext] NOT NULL,
	[IsQuestion] [bit] NOT NULL,
	[IsSpontaneous] [bit] NOT NULL,
	[TopicID] [int] NOT NULL,
 CONSTRAINT [PK_Phrase] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Phrase] ON
INSERT [dbo].[Phrase] ([ID], [Immediacy], [Text], [IsQuestion], [IsSpontaneous], [TopicID]) VALUES (1, 8, N'{diety~exasperation}, I''m hungry!', 0, 1, 1)
INSERT [dbo].[Phrase] ([ID], [Immediacy], [Text], [IsQuestion], [IsSpontaneous], [TopicID]) VALUES (4, 10, N'Those {threat~plural~any} don''t scare me.', 0, 1, 1)
INSERT [dbo].[Phrase] ([ID], [Immediacy], [Text], [IsQuestion], [IsSpontaneous], [TopicID]) VALUES (5, 4, N'Have you heard about {threat~immediate}?', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Phrase] OFF
/****** Object:  Table [dbo].[PersonalityType]    Script Date: 02/22/2012 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalityType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_PersonalityType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PersonalityType] ON
INSERT [dbo].[PersonalityType] ([ID], [Name], [Description], [TypeID]) VALUES (1, N'Extrovertedness', N'This trait determines how likely the character is to talk to you.  Also, generally how outgoing they are.  Low: Introvertedness', 1)
INSERT [dbo].[PersonalityType] ([ID], [Name], [Description], [TypeID]) VALUES (2, N'Hunger', N'This trait determines how hungry the character is.  Low:  Not Hungry', 2)
INSERT [dbo].[PersonalityType] ([ID], [Name], [Description], [TypeID]) VALUES (3, N'Bravery', N'This trait determines how likely the character is to pick a fight or stand up for itself.  Low: Cowardly', 3)
SET IDENTITY_INSERT [dbo].[PersonalityType] OFF
/****** Object:  Table [dbo].[PersonalityPhrase]    Script Date: 02/22/2012 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalityPhrase](
	[PhraseID] [int] NOT NULL,
	[PersonalityTypeID] [int] NOT NULL,
	[PersonalityRating] [int] NOT NULL,
	[RatingIsGreater] [bit] NOT NULL,
 CONSTRAINT [PK_PersonalityPhrase] PRIMARY KEY CLUSTERED 
(
	[PhraseID] ASC,
	[PersonalityTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PersonalityPhrase] ([PhraseID], [PersonalityTypeID], [PersonalityRating], [RatingIsGreater]) VALUES (1, 1, 5, 1)
INSERT [dbo].[PersonalityPhrase] ([PhraseID], [PersonalityTypeID], [PersonalityRating], [RatingIsGreater]) VALUES (1, 2, 7, 1)
INSERT [dbo].[PersonalityPhrase] ([PhraseID], [PersonalityTypeID], [PersonalityRating], [RatingIsGreater]) VALUES (4, 1, 6, 1)
/****** Object:  Table [dbo].[CharacterPersonality]    Script Date: 02/22/2012 23:26:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterPersonality](
	[CharacterID] [int] NOT NULL,
	[PersonalityTypeID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_CharacterPersonality] PRIMARY KEY CLUSTERED 
(
	[CharacterID] ASC,
	[PersonalityTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CharacterPersonality] ([CharacterID], [PersonalityTypeID], [Rating]) VALUES (1, 1, 89)
INSERT [dbo].[CharacterPersonality] ([CharacterID], [PersonalityTypeID], [Rating]) VALUES (1, 2, 1)
INSERT [dbo].[CharacterPersonality] ([CharacterID], [PersonalityTypeID], [Rating]) VALUES (1, 3, 90)
/****** Object:  Default [DF_Phrase_IsQuestion]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[Phrase] ADD  CONSTRAINT [DF_Phrase_IsQuestion]  DEFAULT ((0)) FOR [IsQuestion]
GO
/****** Object:  ForeignKey [FK_PersonalityTypeType_PersonalityType]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[PersonalityTypeType]  WITH CHECK ADD  CONSTRAINT [FK_PersonalityTypeType_PersonalityType] FOREIGN KEY([ID])
REFERENCES [dbo].[PersonalityTypeType] ([ID])
GO
ALTER TABLE [dbo].[PersonalityTypeType] CHECK CONSTRAINT [FK_PersonalityTypeType_PersonalityType]
GO
/****** Object:  ForeignKey [FK_Phrase_Topic]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[Phrase]  WITH CHECK ADD  CONSTRAINT [FK_Phrase_Topic] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topic] ([ID])
GO
ALTER TABLE [dbo].[Phrase] CHECK CONSTRAINT [FK_Phrase_Topic]
GO
/****** Object:  ForeignKey [FK_PersonalityType_PersonalityTypeType]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[PersonalityType]  WITH CHECK ADD  CONSTRAINT [FK_PersonalityType_PersonalityTypeType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[PersonalityTypeType] ([ID])
GO
ALTER TABLE [dbo].[PersonalityType] CHECK CONSTRAINT [FK_PersonalityType_PersonalityTypeType]
GO
/****** Object:  ForeignKey [FK_PersonalityPhrase_Personality]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[PersonalityPhrase]  WITH CHECK ADD  CONSTRAINT [FK_PersonalityPhrase_Personality] FOREIGN KEY([PersonalityTypeID])
REFERENCES [dbo].[PersonalityType] ([ID])
GO
ALTER TABLE [dbo].[PersonalityPhrase] CHECK CONSTRAINT [FK_PersonalityPhrase_Personality]
GO
/****** Object:  ForeignKey [FK_PersonalityPhrase_Phrase]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[PersonalityPhrase]  WITH CHECK ADD  CONSTRAINT [FK_PersonalityPhrase_Phrase] FOREIGN KEY([PhraseID])
REFERENCES [dbo].[Phrase] ([ID])
GO
ALTER TABLE [dbo].[PersonalityPhrase] CHECK CONSTRAINT [FK_PersonalityPhrase_Phrase]
GO
/****** Object:  ForeignKey [FK_CharacterPersonality_Character]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[CharacterPersonality]  WITH CHECK ADD  CONSTRAINT [FK_CharacterPersonality_Character] FOREIGN KEY([CharacterID])
REFERENCES [dbo].[Character] ([ID])
GO
ALTER TABLE [dbo].[CharacterPersonality] CHECK CONSTRAINT [FK_CharacterPersonality_Character]
GO
/****** Object:  ForeignKey [FK_CharacterPersonality_Personality]    Script Date: 02/22/2012 23:26:43 ******/
ALTER TABLE [dbo].[CharacterPersonality]  WITH CHECK ADD  CONSTRAINT [FK_CharacterPersonality_Personality] FOREIGN KEY([PersonalityTypeID])
REFERENCES [dbo].[PersonalityType] ([ID])
GO
ALTER TABLE [dbo].[CharacterPersonality] CHECK CONSTRAINT [FK_CharacterPersonality_Personality]
GO
