USE [master]
GO
/****** Object:  Database [ContentManager]    Script Date: 03/06/2012 23:03:49 ******/
CREATE DATABASE [ContentManager] ON  PRIMARY 
( NAME = N'ContentManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\ContentManager.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ContentManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\ContentManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContentManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContentManager]
GO
/****** Object:  Table [dbo].[ContentManagerSettings]    Script Date: 03/06/2012 23:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentManagerSettings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ContentManagerSettings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ContentManagerSettings] ON
INSERT [dbo].[ContentManagerSettings] ([ID], [Name], [Description], [Value]) VALUES (1, N'Show Deleted Characters', N'Show deleted characters in the character list in the Characters tool.', N'False')
SET IDENTITY_INSERT [dbo].[ContentManagerSettings] OFF
